@import "./_reset.css";
@import "./preloaders.css";
@import "./menu.css";
@import "./editor.css";
@import "./story.css";
@import "./custom.css";


.full-viewport {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#gindex {

  #game_index_menu {
      position: absolute;
  }
}
