:root {
    --story-seperator-color: #333;
    --story-navbar-height: 42px;
    --story-screen-sm-min: 768px;
}

#gstory {

    width: 100vw;
    height: 100vh;

    font-family: -apple-system, SF UI Text, Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1.4;

    background-color:whitesmoke;

    *::-webkit-scrollbar { display: none; }

    & iframe {
        border: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        display: block;
    }

    .story {
        color: #888;
    }

    &.change-bg {
        .bg {
            & iframe {
                opacity: 0;
            }
        }
        /* .preloader {
            opacity: 1;
            transition: opacity 0.5s 1.5s;
        } */
    }
}
